{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="well">
<div class="form-group">
  <input type="text" placeholder="Forename" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Surname" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Username" class="form-control">
</div>
<div class="form-group">
  <input type="password" placeholder="Password" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Email" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Address 1" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Address 2" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Post Code" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Phone Number" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Card Number" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Security Code" class="form-control">
</div>
<div class="form-group">
  <input type="text" placeholder="Expiry Date" class="form-control">
</div>
<button type="submit" class="btn btn-success">Submit</button>
</div>
{% endblock %}
